
_impact.cmd
_impact.log
*.lst
*.xmsgs
*.lso
*.prj
*.stx
*.xst
*.gise
*.xise
*.projectmgr
*.xreport
*.html
*.bgn
*.bld
*.cmd_log
*.drc
*.ncd
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.ptwx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xwbt
*.map
*.mrp
*.log
*.xml
*.xrpt
*.txt
*.xbcd
*.csv
*.ngm
*.sdbl
*.sdbx
